.about {
  height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aboutTitle {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 2.5em;
  padding: 4rem;
  color: #393e46;
}
.aboutImg {
  height: 28rem;
}
.aboutContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50rem;
  /* color: #393e46; */
}
.firstRow {
  display: flex;
  justify-content: space-between;
  width: 45rem;
}
.secondRow {
  display: flex;
  justify-content: space-between;
  width: 45rem;
}
.aboutInfo {
  width: 20rem;
}

#aboutColor {
  color: #ffd24c;
  margin-left: 0.5em;
}

@media (max-width: 650px) {
  .aboutContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
  }
  .aboutTitle {
    font-size: 2em;
    padding: 2rem;
  }
  .aboutImg {
    width: 50%;
    height: 50%;
  }
  .infoContainer {
    width: 100%;
    align-items: center;
    padding-top: 3rem;
  }
  .firstRow,
  .secondRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
