.intro {
  background-color: #222831;
  width: 100%;
  height: 50rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introImg {
  width: 65rem;
}
.textContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* height: 20rem; */
}
.text {
  height: 17rem;
  width: 23rem;

  font-size: 1.1em;
  color: #ffffff;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;

  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

/* phone size */
@media (max-width: 650px) {
  .intro {
    flex-wrap: wrap;
  }
  .introImg {
    width: 80%;
  }
  .text {
    height: 15rem;
    width: 80%;
    padding: 1em;
  }
}
