/* desktop */
.nav {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  font-weight: 600;
}
.navItemsContiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
}

@media (max-width: 650px) {
  .nav {
    font-size: 0.9em;
    height: 4rem;
  }

  .logo {
    font-size: 1.5em;
  }

  .navItemsContiner {
    width: 40rem;
  }
}
