.skills {
  height: 55rem;
  background-color: #575757;
}
.skillsTitle {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 2.5em;
  padding: 2rem 2rem 2rem 5rem;
  color: white;
}

#skillsColor {
  color: #ffd24c;
  margin-left: 0.5em;
}
